<!--- nav section starts-->
<div class="nav-wrapper">
    <div class="navbar">
        <div class="branding">
            <img src="/images/dumper.png" width="30px" height="30px">
            <h3>MINE INFO CENTER</h3> 
            <img src="/images/loader.png" width="30px" height="30px">
        </div>
        <div class="navLinks">
            <a href="/home">Home</a>
            <a href="/weather">Weather</a>
            <a href="/dumper/gps">Tracker</a>
            <a href="/dumper/status">Moniter</a>
            <% if(logged === true) { %>
                <a href="/user/signout">Signout</a>
            <% }  else { %>
                <a href="/user/login">Login</a>
            <% } %>
            <button  type="button" onclick="menuToggle()">
                <img src="/images/menu.png" width="30px" height="30px">
            </button>
        </div>
    </div>
    <div id="mobileMenu" class="display-none"></div>
</div >
<!--- nav section ends -->