<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    
    <%- include('../nav.ejs', {logged: false}) %>

    <div class="parallax-background">
        <form action="/user/signup" class="login" method="post">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <br>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit" value="Signup">
            <br>
            <% if(attempted === true) { %>
                <p><%= message %></p>
            <% } %>
            <br>
            <a href="/user/login">Login</a>
        </form>
    </div>
    
    <!--- scripts -->
    <script src="/js/menu.js"></script>

</body>
</html>